# Importing required libraries and downloading the concrete data to pandas dataframe

In [1]:
import pandas as pd
import numpy as np

In [2]:
concrete_data = pd.read_csv('https://cocl.us/concrete_data')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

# Data visualization and pre-processing

In [3]:
concrete_data.shape

(1030, 9)

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

#### Split data into predictors and target

In [6]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [9]:
n_cols = predictors.shape[1] # number of predictors
n_cols

8

# **Part A**

**Importing Keras Library and bulding the regression model**

In [10]:
import keras
from keras.models import Sequential
from keras.layers import Dense

In [11]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

**Random split the data into a training and test sets**

In [12]:
X = np.asarray(predictors)
y = np.asarray(target)

In [13]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.3, random_state=None)
print ('Train set:', X_train.shape,  y_train.shape)
print ('Test set:', X_test.shape,  y_test.shape)

Train set: (721, 8) (721,)
Test set: (309, 8) (309,)

In [14]:
model_A = regression_model()

**Training the model on the training data using 50 epochs**

In [15]:
model_A.fit(X_train, y_train, epochs=50, verbose=2)

Epoch 1/50
23/23 - 1s - loss: 27826.8770 - 947ms/epoch - 41ms/step
Epoch 2/50
23/23 - 0s - loss: 10746.9160 - 101ms/epoch - 4ms/step
Epoch 3/50
23/23 - 0s - loss: 3617.2400 - 82ms/epoch - 4ms/step
Epoch 4/50
23/23 - 0s - loss: 1437.8601 - 112ms/epoch - 5ms/step
Epoch 5/50
23/23 - 0s - loss: 938.8065 - 71ms/epoch - 3ms/step
Epoch 6/50
23/23 - 0s - loss: 858.9755 - 153ms/epoch - 7ms/step
Epoch 7/50
23/23 - 0s - loss: 814.9707 - 81ms/epoch - 4ms/step
Epoch 8/50
23/23 - 0s - loss: 779.3865 - 63ms/epoch - 3ms/step
Epoch 9/50
23/23 - 0s - loss: 741.1200 - 51ms/epoch - 2ms/step
Epoch 10/50
23/23 - 0s - loss: 702.6113 - 60ms/epoch - 3ms/step
Epoch 11/50
23/23 - 0s - loss: 664.1258 - 85ms/epoch - 4ms/step
Epoch 12/50
23/23 - 0s - loss: 630.6383 - 48ms/epoch - 2ms/step
Epoch 13/50
23/23 - 0s - loss: 603.1981 - 78ms/epoch - 3ms/step
Epoch 14/50
23/23 - 0s - loss: 576.8246 - 100ms/epoch - 4ms/step
Epoch 15/50
23/23 - 0s - loss: 550.2912 - 45ms/epoch - 2ms/step
Epoch 16/50
23/23 - 0s - loss: 526.5121 - 44ms/epoch - 2ms/step
Epoch 17/50
23/23 - 0s - loss: 505.3647 - 49ms/epoch - 2ms/step
Epoch 18/50
23/23 - 0s - loss: 482.7441 - 51ms/epoch - 2ms/step
Epoch 19/50
23/23 - 0s - loss: 461.3592 - 53ms/epoch - 2ms/step
Epoch 20/50
23/23 - 0s - loss: 441.1015 - 67ms/epoch - 3ms/step
Epoch 21/50
23/23 - 0s - loss: 421.5734 - 61ms/epoch - 3ms/step
Epoch 22/50
23/23 - 0s - loss: 399.8713 - 83ms/epoch - 4ms/step
Epoch 23/50
23/23 - 0s - loss: 375.1302 - 48ms/epoch - 2ms/step
Epoch 24/50
23/23 - 0s - loss: 348.8470 - 51ms/epoch - 2ms/step
Epoch 25/50
23/23 - 0s - loss: 307.5808 - 68ms/epoch - 3ms/step
Epoch 26/50
23/23 - 0s - loss: 268.0344 - 87ms/epoch - 4ms/step
Epoch 27/50
23/23 - 0s - loss: 235.9533 - 57ms/epoch - 2ms/step
Epoch 28/50
23/23 - 0s - loss: 213.4839 - 58ms/epoch - 3ms/step
Epoch 29/50
23/23 - 0s - loss: 197.7307 - 58ms/epoch - 3ms/step
Epoch 30/50
23/23 - 0s - loss: 186.8665 - 80ms/epoch - 3ms/step
Epoch 31/50
23/23 - 0s - loss: 178.5624 - 130ms/epoch - 6ms/step
Epoch 32/50
23/23 - 0s - loss: 170.9746 - 53ms/epoch - 2ms/step
Epoch 33/50
23/23 - 0s - loss: 164.7906 - 91ms/epoch - 4ms/step
Epoch 34/50
23/23 - 0s - loss: 161.3550 - 81ms/epoch - 4ms/step
Epoch 35/50
23/23 - 0s - loss: 156.7661 - 61ms/epoch - 3ms/step
Epoch 36/50
23/23 - 0s - loss: 153.3959 - 54ms/epoch - 2ms/step
Epoch 37/50
23/23 - 0s - loss: 150.4755 - 78ms/epoch - 3ms/step
Epoch 38/50
23/23 - 0s - loss: 148.5280 - 65ms/epoch - 3ms/step
Epoch 39/50
23/23 - 0s - loss: 146.8123 - 53ms/epoch - 2ms/step
Epoch 40/50
23/23 - 0s - loss: 145.8670 - 139ms/epoch - 6ms/step
Epoch 41/50
23/23 - 0s - loss: 143.0543 - 70ms/epoch - 3ms/step
Epoch 42/50
23/23 - 0s - loss: 140.8499 - 51ms/epoch - 2ms/step
Epoch 43/50
23/23 - 0s - loss: 139.3212 - 49ms/epoch - 2ms/step
Epoch 44/50
23/23 - 0s - loss: 137.2439 - 67ms/epoch - 3ms/step
Epoch 45/50
23/23 - 0s - loss: 136.1921 - 101ms/epoch - 4ms/step
Epoch 46/50
23/23 - 0s - loss: 133.6543 - 83ms/epoch - 4ms/step
Epoch 47/50
23/23 - 0s - loss: 134.0798 - 136ms/epoch - 6ms/step
Epoch 48/50
23/23 - 0s - loss: 132.7509 - 120ms/epoch - 5ms/step
Epoch 49/50
23/23 - 0s - loss: 133.7854 - 66ms/epoch - 3ms/step
Epoch 50/50
23/23 - 0s - loss: 129.8376 - 99ms/epoch - 4ms/step

**Evaluate the model on the test data and compute the mean squared error**

In [16]:
y_hat = model_A.predict(X_test)

10/10 [==============================] - 0s 2ms/step

In [17]:
from sklearn.metrics import mean_squared_error 

mean_squared_error(y_test, y_hat) # Calculating mean squared error

141.46156344981026

**Repeating the above process 50 times and creating list of mean squared errors of those models**

In [18]:
mse_A = []
for _ in range(50):
  X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.3, random_state=None)
  model_A.fit(X_train, y_train, epochs=50, verbose=0)
  mse_A.append(model_A.evaluate(X_test, y_test))

10/10 [==============================] - 0s 3ms/step - loss: 115.0715
10/10 [==============================] - 0s 2ms/step - loss: 107.0989
10/10 [==============================] - 0s 2ms/step - loss: 110.2283
10/10 [==============================] - 0s 4ms/step - loss: 121.8706
10/10 [==============================] - 0s 2ms/step - loss: 121.9520
10/10 [==============================] - 0s 2ms/step - loss: 104.1749
10/10 [==============================] - 0s 2ms/step - loss: 118.9237
10/10 [==============================] - 0s 2ms/step - loss: 113.3669
10/10 [==============================] - 0s 2ms/step - loss: 103.3840
10/10 [==============================] - 0s 2ms/step - loss: 107.1442
10/10 [==============================] - 0s 2ms/step - loss: 118.5987
10/10 [==============================] - 0s 2ms/step - loss: 102.7743
10/10 [==============================] - 0s 2ms/step - loss: 125.6628
10/10 [==============================] - 0s 2ms/step - loss: 111.4816
10/10 [==============================] - 0s 3ms/step - loss: 108.9563
10/10 [==============================] - 0s 3ms/step - loss: 111.4293
10/10 [==============================] - 0s 2ms/step - loss: 117.0292
10/10 [==============================] - 0s 2ms/step - loss: 106.5455
10/10 [==============================] - 0s 2ms/step - loss: 116.8352
10/10 [==============================] - 0s 2ms/step - loss: 101.8845
10/10 [==============================] - 0s 2ms/step - loss: 105.7321
10/10 [==============================] - 0s 2ms/step - loss: 127.2546
10/10 [==============================] - 0s 2ms/step - loss: 106.0813
10/10 [==============================] - 0s 2ms/step - loss: 105.1778
10/10 [==============================] - 0s 2ms/step - loss: 112.2835
10/10 [==============================] - 0s 3ms/step - loss: 133.7302
10/10 [==============================] - 0s 2ms/step - loss: 117.8680
10/10 [==============================] - 0s 2ms/step - loss: 112.7311
10/10 [==============================] - 0s 3ms/step - loss: 113.8608
10/10 [==============================] - 0s 3ms/step - loss: 130.1378
10/10 [==============================] - 0s 2ms/step - loss: 106.9722
10/10 [==============================] - 0s 3ms/step - loss: 120.1311
10/10 [==============================] - 0s 2ms/step - loss: 113.9489
10/10 [==============================] - 0s 2ms/step - loss: 100.5080
10/10 [==============================] - 0s 3ms/step - loss: 102.7977
10/10 [==============================] - 0s 2ms/step - loss: 104.0447
10/10 [==============================] - 0s 2ms/step - loss: 125.0516
10/10 [==============================] - 0s 2ms/step - loss: 100.5002
10/10 [==============================] - 0s 2ms/step - loss: 116.9030
10/10 [==============================] - 0s 3ms/step - loss: 101.2472
10/10 [==============================] - 0s 2ms/step - loss: 111.3086
10/10 [==============================] - 0s 2ms/step - loss: 114.5574
10/10 [==============================] - 0s 2ms/step - loss: 114.6046
10/10 [==============================] - 0s 2ms/step - loss: 117.9260
10/10 [==============================] - 0s 2ms/step - loss: 132.4996
10/10 [==============================] - 0s 3ms/step - loss: 105.2989
10/10 [==============================] - 0s 2ms/step - loss: 119.2075
10/10 [==============================] - 0s 2ms/step - loss: 123.3925
10/10 [==============================] - 0s 3ms/step - loss: 105.2151
10/10 [==============================] - 0s 2ms/step - loss: 104.6328

In [19]:
mean_mse_A = np.mean(mse_A) 
print("Mean of Mean Squared Errors is {}".format(mean_mse_A))
print("Standard deviation of Mean Squared Errors is {}".format(np.std(mse_A)))

Mean of Mean Squared Errors is 113.00035415649414
Standard deviation of Mean Squared Errors is 8.607735976514055

# **Part B**

**Normalising the data**

In [20]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [21]:
X_norm = np.asarray(predictors_norm)

**Creating the list of 50 mean squared errors list**

In [22]:
model_B = regression_model()
mse_B = []
for _ in range(50):
  X_train, X_test, y_train, y_test = train_test_split( X_norm, y, test_size=0.3, random_state=None)
  model_B.fit(X_train, y_train, epochs=50, verbose=0)
  mse_B.append(model_B.evaluate(X_test, y_test)) # Using the evaluate method to get MSE

10/10 [==============================] - 0s 2ms/step - loss: 340.4415
10/10 [==============================] - 0s 2ms/step - loss: 155.2993
10/10 [==============================] - 0s 2ms/step - loss: 115.5798
10/10 [==============================] - 0s 3ms/step - loss: 85.1037
10/10 [==============================] - 0s 2ms/step - loss: 63.0370
10/10 [==============================] - 0s 2ms/step - loss: 59.3234
10/10 [==============================] - 0s 2ms/step - loss: 43.5402
10/10 [==============================] - 0s 2ms/step - loss: 53.2729
10/10 [==============================] - 0s 2ms/step - loss: 48.6471
10/10 [==============================] - 0s 3ms/step - loss: 43.7992
10/10 [==============================] - 0s 2ms/step - loss: 40.2503
10/10 [==============================] - 0s 3ms/step - loss: 44.4489
10/10 [==============================] - 0s 2ms/step - loss: 39.9929
10/10 [==============================] - 0s 2ms/step - loss: 36.9599
10/10 [==============================] - 0s 2ms/step - loss: 40.8461
10/10 [==============================] - 0s 2ms/step - loss: 45.7356
10/10 [==============================] - 0s 2ms/step - loss: 38.7924
10/10 [==============================] - 0s 2ms/step - loss: 41.2127
10/10 [==============================] - 0s 2ms/step - loss: 32.9489
10/10 [==============================] - 0s 2ms/step - loss: 39.0227
10/10 [==============================] - 0s 2ms/step - loss: 39.5813
10/10 [==============================] - 0s 3ms/step - loss: 39.5905
10/10 [==============================] - 0s 3ms/step - loss: 39.6684
10/10 [==============================] - 0s 2ms/step - loss: 36.1156
10/10 [==============================] - 0s 2ms/step - loss: 37.7320
10/10 [==============================] - 0s 2ms/step - loss: 38.9605
10/10 [==============================] - 0s 2ms/step - loss: 38.7985
10/10 [==============================] - 0s 2ms/step - loss: 34.8344
10/10 [==============================] - 0s 3ms/step - loss: 35.5396
10/10 [==============================] - 0s 2ms/step - loss: 37.8019
10/10 [==============================] - 0s 2ms/step - loss: 35.9447
10/10 [==============================] - 0s 2ms/step - loss: 32.6444
10/10 [==============================] - 0s 2ms/step - loss: 32.5690
10/10 [==============================] - 0s 3ms/step - loss: 30.1337
10/10 [==============================] - 0s 2ms/step - loss: 37.9061
10/10 [==============================] - 0s 3ms/step - loss: 30.8078
10/10 [==============================] - 0s 2ms/step - loss: 35.3593
10/10 [==============================] - 0s 2ms/step - loss: 36.2933
10/10 [==============================] - 0s 2ms/step - loss: 29.7223
10/10 [==============================] - 0s 2ms/step - loss: 33.7440
10/10 [==============================] - 0s 2ms/step - loss: 32.5265
10/10 [==============================] - 0s 3ms/step - loss: 26.1833
10/10 [==============================] - 0s 2ms/step - loss: 30.6496
10/10 [==============================] - 0s 2ms/step - loss: 25.1066
10/10 [==============================] - 0s 2ms/step - loss: 35.5323
10/10 [==============================] - 0s 2ms/step - loss: 30.0868
10/10 [==============================] - 0s 2ms/step - loss: 28.4612
10/10 [==============================] - 0s 2ms/step - loss: 32.8225
10/10 [==============================] - 0s 2ms/step - loss: 29.0929
10/10 [==============================] - 0s 2ms/step - loss: 32.9044

In [23]:
mean_mse_B = np.mean(mse_B)
print("Mean of Mean Squared Errors is {}".format(mean_mse_B))
print("Standard deviation of Mean Squared Errors is {}".format(np.std(mse_B)))

Mean of Mean Squared Errors is 48.50735622406006
Standard deviation of Mean Squared Errors is 47.02767654353788

In [24]:
print("The difference in Mean of Mean Squared Errors of Part A and Part B is {}".format(mean_mse_A - mean_mse_B))

The difference in Mean of Mean Squared Errors of Part A and Part B is 64.49299793243408

***The Mean of mean squared errors of Part B is considerably lower than that of part A.
The Normalisation of the data has increased the accuracy of the trained model.***

# **Part C**

**Repeating the above process by training the data with 100 epochs**

In [25]:
model_C = regression_model()
mse_C = []
for _ in range(50):
  X_train, X_test, y_train, y_test = train_test_split( X_norm, y, test_size=0.3, random_state=None)
  model_C.fit(X_train, y_train, epochs=100, verbose=0)
  mse_C.append(model_C.evaluate(X_test, y_test)) # Using the evaluate method to get MSE

10/10 [==============================] - 0s 2ms/step - loss: 161.0084
10/10 [==============================] - 0s 2ms/step - loss: 85.1067
10/10 [==============================] - 0s 2ms/step - loss: 81.6160
10/10 [==============================] - 0s 4ms/step - loss: 50.2418
10/10 [==============================] - 0s 3ms/step - loss: 48.4906
10/10 [==============================] - 0s 4ms/step - loss: 36.9354
10/10 [==============================] - 0s 2ms/step - loss: 37.5014
10/10 [==============================] - 0s 2ms/step - loss: 33.7010
10/10 [==============================] - 0s 2ms/step - loss: 32.8994
10/10 [==============================] - 0s 2ms/step - loss: 36.0121
10/10 [==============================] - 0s 2ms/step - loss: 30.4869
10/10 [==============================] - 0s 2ms/step - loss: 38.2156
10/10 [==============================] - 0s 3ms/step - loss: 28.7706
10/10 [==============================] - 0s 3ms/step - loss: 34.4193
10/10 [==============================] - 0s 2ms/step - loss: 34.8842
10/10 [==============================] - 0s 2ms/step - loss: 28.1895
10/10 [==============================] - 0s 2ms/step - loss: 34.8779
10/10 [==============================] - 0s 2ms/step - loss: 29.1160
10/10 [==============================] - 0s 2ms/step - loss: 31.3774
10/10 [==============================] - 0s 2ms/step - loss: 27.0306
10/10 [==============================] - 0s 2ms/step - loss: 31.4161
10/10 [==============================] - 0s 2ms/step - loss: 31.1858
10/10 [==============================] - 0s 3ms/step - loss: 31.4513
10/10 [==============================] - 0s 2ms/step - loss: 36.6474
10/10 [==============================] - 0s 3ms/step - loss: 33.2989
10/10 [==============================] - 0s 2ms/step - loss: 34.2083
10/10 [==============================] - 0s 2ms/step - loss: 37.0969
10/10 [==============================] - 0s 2ms/step - loss: 36.7793
10/10 [==============================] - 0s 4ms/step - loss: 33.3757
10/10 [==============================] - 0s 2ms/step - loss: 29.2002
10/10 [==============================] - 0s 2ms/step - loss: 34.0519
10/10 [==============================] - 0s 2ms/step - loss: 35.2689
10/10 [==============================] - 0s 2ms/step - loss: 36.5067
10/10 [==============================] - 0s 2ms/step - loss: 33.3304
10/10 [==============================] - 0s 3ms/step - loss: 32.9276
10/10 [==============================] - 0s 2ms/step - loss: 30.6549
10/10 [==============================] - 0s 2ms/step - loss: 34.2694
10/10 [==============================] - 0s 2ms/step - loss: 30.1317
10/10 [==============================] - 0s 3ms/step - loss: 35.4641
10/10 [==============================] - 0s 2ms/step - loss: 30.6466
10/10 [==============================] - 0s 3ms/step - loss: 29.9853
10/10 [==============================] - 0s 3ms/step - loss: 32.9368
10/10 [==============================] - 0s 3ms/step - loss: 32.4112
10/10 [==============================] - 0s 2ms/step - loss: 35.0173
10/10 [==============================] - 0s 2ms/step - loss: 31.9183
10/10 [==============================] - 0s 2ms/step - loss: 30.8631
10/10 [==============================] - 0s 2ms/step - loss: 30.7499
10/10 [==============================] - 0s 2ms/step - loss: 31.8077
10/10 [==============================] - 0s 2ms/step - loss: 32.1632
10/10 [==============================] - 0s 2ms/step - loss: 36.0723

In [26]:
mean_mse_C = np.mean(mse_C)
print("Mean of Mean Squared Errors is {}".format(mean_mse_C))
print("Standard deviation of Mean Squared Errors is {}".format(np.std(mse_C)))

Mean of Mean Squared Errors is 38.25436706542969
Standard deviation of Mean Squared Errors is 20.471491045462816

In [27]:
print("The difference in Mean of Mean Squared Errors of Part B and Part C is {}".format(mean_mse_B - mean_mse_C))

The difference in Mean of Mean Squared Errors of Part B and Part C is 10.25298915863037

***The Mean of mean squared errors of Part C is  lower than that of part B. Higher number of epochs in the trained model has resulted in higher accuracy of the trained model.***

# **Part D**

**Creating a model with 3 hidden layers**

In [28]:
# define regression model
def regression_model_D():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [29]:
model_D = regression_model_D()

**Training and testing the model 50 times:**

In [31]:
mse_D = []
for _ in range(50):
  X_train, X_test, y_train, y_test = train_test_split( X_norm, y, test_size=0.3, random_state=None)
  model_D.fit(X_train, y_train, epochs=50, verbose=0)
  mse_D.append(model_D.evaluate(X_test, y_test)) # Using the evaluate method to get MSE

10/10 [==============================] - 0s 2ms/step - loss: 58.8598
10/10 [==============================] - 0s 2ms/step - loss: 47.6536
10/10 [==============================] - 0s 2ms/step - loss: 42.8463
10/10 [==============================] - 0s 2ms/step - loss: 36.3274
10/10 [==============================] - 0s 3ms/step - loss: 29.5697
10/10 [==============================] - 0s 2ms/step - loss: 29.6993
10/10 [==============================] - 0s 2ms/step - loss: 30.8797
10/10 [==============================] - 0s 2ms/step - loss: 28.7315
10/10 [==============================] - 0s 2ms/step - loss: 32.4015
10/10 [==============================] - 0s 2ms/step - loss: 29.0556
10/10 [==============================] - 0s 2ms/step - loss: 26.1227
10/10 [==============================] - 0s 2ms/step - loss: 25.5008
10/10 [==============================] - 0s 2ms/step - loss: 25.2717
10/10 [==============================] - 0s 2ms/step - loss: 27.4180
10/10 [==============================] - 0s 3ms/step - loss: 26.9644
10/10 [==============================] - 0s 2ms/step - loss: 30.8286
10/10 [==============================] - 0s 2ms/step - loss: 24.3956
10/10 [==============================] - 0s 2ms/step - loss: 24.0600
10/10 [==============================] - 0s 2ms/step - loss: 25.0014
10/10 [==============================] - 0s 3ms/step - loss: 25.9145
10/10 [==============================] - 0s 2ms/step - loss: 24.6095
10/10 [==============================] - 0s 3ms/step - loss: 25.7246
10/10 [==============================] - 0s 2ms/step - loss: 22.5761
10/10 [==============================] - 0s 2ms/step - loss: 24.3407
10/10 [==============================] - 0s 2ms/step - loss: 25.3921
10/10 [==============================] - 0s 2ms/step - loss: 24.8449
10/10 [==============================] - 0s 2ms/step - loss: 26.0346
10/10 [==============================] - 0s 2ms/step - loss: 22.9561
10/10 [==============================] - 0s 2ms/step - loss: 23.7937
10/10 [==============================] - 0s 2ms/step - loss: 24.7486
10/10 [==============================] - 0s 2ms/step - loss: 23.4911
10/10 [==============================] - 0s 2ms/step - loss: 26.6233
10/10 [==============================] - 0s 3ms/step - loss: 21.1238
10/10 [==============================] - 0s 2ms/step - loss: 18.8811
10/10 [==============================] - 0s 2ms/step - loss: 19.2331
10/10 [==============================] - 0s 3ms/step - loss: 22.4772
10/10 [==============================] - 0s 3ms/step - loss: 20.6556
10/10 [==============================] - 0s 2ms/step - loss: 21.3883
10/10 [==============================] - 0s 2ms/step - loss: 20.8881
10/10 [==============================] - 0s 2ms/step - loss: 21.8325
10/10 [==============================] - 0s 2ms/step - loss: 20.9780
10/10 [==============================] - 0s 2ms/step - loss: 21.3983
10/10 [==============================] - 0s 2ms/step - loss: 20.1769
10/10 [==============================] - 0s 2ms/step - loss: 21.5580
10/10 [==============================] - 0s 2ms/step - loss: 21.0079
10/10 [==============================] - 0s 2ms/step - loss: 20.9528
10/10 [==============================] - 0s 2ms/step - loss: 19.0037
10/10 [==============================] - 0s 4ms/step - loss: 16.1064
10/10 [==============================] - 0s 2ms/step - loss: 21.5308
10/10 [==============================] - 0s 2ms/step - loss: 21.0327

In [32]:
mean_mse_D = np.mean(mse_D)
print("Mean of Mean Squared Errors is {}".format(mean_mse_D))
print("Standard deviation of Mean Squared Errors is {}".format(np.std(mse_D)))

Mean of Mean Squared Errors is 25.857250480651857
Standard deviation of Mean Squared Errors is 7.333430400205578

In [33]:
print("The difference in Mean of Mean Squared Errors of Part B and Part D is {}".format(mean_mse_B - mean_mse_D))

The difference in Mean of Mean Squared Errors of Part B and Part D is 22.650105743408204

**There is a considerable increase of the accuracy of the model after increasing the number of hidden layers when compared to the model of Part B**

***In General optimal number of epochs and hidden layers in the regression model can increase the accuray of the trained model tremendously***